body {
    background-color:rgb(16, 181, 231);
    color:rgb(143, 13, 13);
    font-family: "Bai jamjuree", sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color:rgb(168, 21, 127);
    color:rgb(244, 252, 253)
    font-family:"Bai jamjuree", sans-serif;
}

.passo {
     display: block;
}

.passo.ativo{
    display: block;
}

main {
    text-align: center;
    max: width 90%;
}

img{
    max-width: 90%;
}